<template name="layout">
  <div id="layout">
    {{log 'rendering layout'}}
    {{> header}}
    <nav id="sidebar-menu">
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link {{activeRoute '/'}}" aria-current="page" href="/"><span class="material-icons-outlined">question_answer</span> <span class="nav-link-text">Chat</span></a></li>
        <li class="nav-item"><a class="nav-link {{activeRoute '/tasks'}}" aria-current="page" href="/tasks"><span class="material-icons-outlined">task</span> <span class="nav-link-text">Tasks</span></a></li>
        <li class="nav-item"><a class="nav-link {{activeRoute '/contexts'}}" aria-current="page" href="/contexts"><span class="material-icons-outlined">description</span> <span class="nav-link-text">Main Context</span></a></li>
        {{> dynContexts}}
        <li class="nav-item"><a class="nav-link {{activeRoute '/settings'}}" aria-current="page" href="/settings"><span class="material-icons-outlined">settings</span> <span class="nav-link-text">Settings</span></a></li>
      </ul>
      <button class="js-add-dyn-context btn btn-primary mt-3 p-1"><span class="material-icons-outlined right">add_circle</span> <span class="nav-link-text">Add context</span></button>
      {{#unless currentUser.openAI.apiKey}}
        <p class="text-muted mt-5 m-2">
          Enter your OpenAI API key in Settings to use the Chat feature.
        </p>
      {{/unless}}

      <div id="collaspe-view"><a class="clickable"><span class="material-icons-outlined left">arrow_left</span> <span class="material-icons-outlined right">arrow_right</span> <span class="nav-link-text text-dark">Collapsed View</span></a></div>
    </nav>
    <main>  
      {{#if activeRouteBoolean '/login'}}
        {{> Template.dynamic template=main}}
      {{else}}
        {{#unless currentUser}}
          <div class="h-100 text-center"> <a href="/login" class="alert alert-info" role="alert">Please login</a></div>
        {{else}}
          {{#unless Session 'contextId'}}
            <h1>Environments and contexts</h1>
            <p>The global environment refers to the general setting or situation in which you are working. This could be anything from your personal life to your professional career. By selecting a global environment in the Coach app, you are telling the AI what general context to take into account when providing coaching advice.</p>
            <p>Contexts, on the other hand, are more specific pieces of information that you want the AI to consider when answering your questions. These could be things like a current project you're working on or a particular challenge you're facing.</p>
            <p>When opening the chat window on a context page, you are providing even more specific information for the AI to consider when providing coaching advice.</p>            
            <div class="text-center mt-5"><span class="alert alert-info" role="alert">Please select a environment</span></div>
          {{else}}
            {{> Template.dynamic template=main}}
            {{> floatingChat}}
          {{/unless}}
        {{/unless}}
      {{/if}}
    </main>
  </div>
</template>